<div class="wrapper-blue">
<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Message here">
  <input class ="btn" type="submit" value="Submit">
</form>
</div>
